Repository cbwinslow/local-ai-packaged, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docs, workflows

.github/labeler.yml:

frontend:
  - frontend/**
backend:
  - services/**
  - mcp-servers/**
docs:
  - '**/*.md'
workflows:
  - .github/workflows/**

modified: docker-compose.yml modified: supabase
  docker-compose.yml
Labels: none

commit
  .coverage
  .github/instructions/cbw-instructions.instructions.md
  Caddyfile
  ansible/group_vars/all.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/k3s_install/meta/main.yml
  ansible/roles/k8s_deploy/tasks/main.yml
  ansible/site.yml
  deploy_homelab.sh
  docker-compose.override.private.generated.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/ai-agent-instructions.md
  docs/errors.md
  docs/incremental-deployment.md
  frontend/Dockerfile
  frontend/__tests__/dummy.test.js
  frontend/__tests__/setupTests.js
  frontend/docker-compose.yml
  frontend/next.config.js
  requirements.txt
  scripts/enhanced-generate-secrets.sh
  scripts/incremental-deployment.sh
  scripts/start_services.py
  tests/__pycache__/conftest.cpython-312-pytest-8.4.2.pyc
  tests/__pycache__/test_config_validation.cpython-312-pytest-8.4.2.pyc
  tests/__pycache__/test_deployment_integration.cpython-312-pytest-8.4.2.pyc
  tests/conftest.py
  tests/integration/__pycache__/test_service_manager.cpython-312-pytest-8.4.2.pyc
  tests/integration/test_service_manager.py
  tests/test_config_validation.py
  tests/test_deployment_integration.py
Labels: frontend, docs

feat: add data pipeline scaffold
  .github/workflows/data-pipeline.yml
  DIFF_20250914_044955.md
  RECOMMENDATIONS_20250914_044955.md
  data/ingested/.gitkeep
  data/ingested/neo4j/.gitkeep
  data/ingested/postgres/.gitkeep
  data/ingested/qdrant/.gitkeep
  data/metadata.json
  data/processed/.gitkeep
  data/raw/.gitkeep
  scripts/data_pipeline.py
Labels: docs, workflows

Potential fix for code scanning alert no. 184: Workflow does not contain permissions
  .github/workflows/deploy-with-bitwarden.yml
Labels: workflows

Potential fix for code scanning alert no. 185: Clear-text logging of sensitive information
  setup_bitwarden_secrets.py
Labels: none
